.chinese {
    font-family: 'Noto Serif TC', serif;
    word-spacing: 10px;
}

#publication_list li{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

papertitle {
    display: block;
    font-weight: bold;
}

authorlist {
    display: block;
}

me {
    text-decoration: underline;
    font-weight: bold;
}

conference {
    font-style: italic;
    font-size: 13pt;
    display:block;
}

publisher {
    font-weight: 600;
    color: #5E0035;
    cursor: pointer;
}

publisher:hover {
    color: #A77390; 
}

.label-success {
    background-color: #449d44;
    color: white;
    font-size: 10pt;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
}